  <div id="<%= @category %>" class="cat cat-cat">
    <h2 id="cat-head"><%= @category_name %></h2>
    <ul>
     <% @products.each_with_index do |product, index| %> 
      <li class="<%= 'last' if (index+1).modulo(4) == 0 %>">
        <a href="/<%= @category+'/'+product.id.to_s%>">
          <%= image_tag "products/" + product.get_thumb %>
          <p class="home-prod-title"><%= product.title%></p>
        </a>
        <p class="home-prod-price">$<%= product.price/100 %></p>
      </li>
      <% end %>
    </ul>
  </div>
