  <a id ="top-banner" href="/Under-50"><img src="images/top_banner.png" /><a/>
  <% @categories.each do |cat| %>
  <div id="<%= cat.raw %>" class="cat cat-home">
    <h2><a href="<%= cat.url %>" ><%= cat.name %></a></h2>
    <p class="view-more"><a href="<%= cat.url %>">View More</a></p>
    <ul>
    <% #products = cat.products.limit(3) %>
    <% products = Product.where(:category => cat.raw).order("random()").limit(3) %>
    <% products.each do |product|%>
      <li class=" <%= 'last' if product.id == products.last.id %> ">
        <a href="<%= cat.url+'/'+product.id.to_s %>">
          <%= image_tag "products/" + product.get_thumb %>
          <p class="home-prod-title"><%= product.title %></p>
        </a>
        <p class="home-prod-price">$<%= (product.price)/100 %></p>
      </li>
  <% end %>
  </ul>
</div>
<% end %>