<div id="prod">
      <%= image_tag "products/" + @product.get_image, :class => "main", :size => "455x500" %>
    <div id="prod-info" />
      <h2><%= @product.title %></h2>
      <p id="prod-price">$<%= @product.price / 100 %></p>
      <p id="desc"><%= @product.description %></p>
      <a id="buy-button" href="<%= @product.link %>">Buy it</a>
  </div>
  <div id="share-links">
    <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
      <fb:like href="http://threadfull.rubypdx.com/" show_faces="false" width="450" font="arial"></fb:like>
    <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a>
      <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  </div>
  <div id="comments">
    <script src="http://connect.facebook.net/en_US/all.js#appId=132585060131786&amp;xfbml=1"></script>
    <fb:comments numposts="10" width="425" publish_feed="true"></fb:comments>
  </div>
  <div id="prod-extra">
    <h3>You Also Might Like</h3>
    <ul>
        <% @related_products.each do |r_product| %>    
          <li class=" <%= 'last' if r_product.id == @related_products.last.id %> ">
            <a href="<%= '/'+r_product.category+'/'+r_product.id.to_s %>">
              <%= image_tag "products/" + r_product.thumbnail %>
              <p class="home-prod-title"><%= r_product.title %></p>
              <p class="home-prod-price">$<%= r_product.price / 100 %></p>
            </a>
          </li>
        <% end %>
    </ul>
  </div>
