<!DOCTYPE html>
<html>
<head>

  <title>RWDFinal - Threadfull</title>
  <% if @product %>
    <%= render 'og_data' %>
  <% end %>
  <%= stylesheet_link_tag 'styles' %>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans&subset=latin' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif&subset=latin' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'jquery' %>
  <script type="text/javascript">
    $(function(){
      $('.uiBoxGray').live().css('background', 'green');
    })
  </script>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="top-bar">
  <div id="top-bar-inner">
  <a href="/"><img src="/images/threadfull_tab.png" height="39" width="104" /></a>
  <a href="http://www.threadless.com"><img src="/images/threadless_tab.png" height="39" width="74" /></a>
  <a id="join" href="http://www.facebook.com/pages/Threadfull/123045087760053" target="_blank">Join Us</a>
  <div id ="fb-like"><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
      <fb:like href="http://threadfull.rubypdx.com/" show_faces="false" color="white" width="170" font="arial"></fb:like>
      </div>
  <a id="top-phrase" href="/Cool-Stuff/61">Click here for specials on Unicycle parts</a>
  </div>  
</div>
<div id="wrapper">
  <div id="header">
    <h1><a href="/">Threadful</a></h1>
    <ul id="main-nav">
      <li><a href="/">Home</a></li>
      <% @categories.each do |cat| %>
        <li><a href="<%= cat.url %>"><%= cat.name %></a></li>
      <% end %>
    </ul>
  </div>
<%= yield %>
  <div id="footer">
    <div id="footer-fb">
      
      <p id ="like-fb"><a href="http://www.facebook.com/pages/Threadfull/123045087760053">Threadful on Facebook</a></p>
      <p id ="text-fb">We like you! You should like us on Facebook for exlcusive offers and awesome awesomeness!</p>
    </div>
    <ul id="social-nav">
      <li><a target="_blank" id="twit-link" href="http://twitter.com/threadfull">Twitter</a></li>
      <li><a target="_blank" id="fb-link" href="http://www.facebook.com/pages/Threadfull/123045087760053">Facebook</a></li>
      <li><a id="rss-link" href="/feed.rss">RSS</a></li>
    </ul>
    <p id="copyright">Copyright &copy; 2010 Threadfull Inc.</p>
  </div>
</div>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20023238-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
